<h1>All Events</h1>

<div>
  <%= link_to 'Create New Event', new_event_path %>
</div>

<% if @events %>
<ul>
    <% @events.each do |event| %>
        <li>
        <h3><%= link_to event.name, event %></h3>
        </li>
    <% end %>
</ul>
<% else %>
<p>No events yet...</p>
<% end %>