<h1>All Events</h1>

<div>
  <%= link_to 'Create New Event', new_event_path %>
</div>

<% if @events %>
  <h2>Past Events</h2>
  <ul>
      <% @events.past.each do |event| %>
          <li>
          <h3><%= link_to event.name, event %></h3>
          </li>
      <% end %>
  </ul>
  <h2>Upcoming Events</h2>
<ul>
    <% @events.upcoming.each do |event| %>
        <li>
        <h3><%= link_to event.name, event %></h3>
        </li>
    <% end %>
</ul>
<% else %>
<p>No events yet...</p>
<% end %>