<h1>Edit</h1>

<div data-turbo='false'>
    <p>Invite Attendees:</p>
    <%= form_with model: 
    @event_attending do |form| %>
      <%= form.check_box :invite %>
    <%= form.submit 'Invite' %>
    <% end %>

</div>